
header.global-new {
	background-color: #00467f;
	border-bottom: none;
}

.wrapper-footer {
	background-color: #00467f;
}

.footer-logos {
	margin: 40px 10px 10px 0px;
}

div#youtube_video{
    display: none;
    width: 100%;
    height: 220pt;
    top: 0px;
    position: absolute;
    z-index: 500;
    text-align: center;
    background-color: #00467f;
    opacity: 0.95
}

/* index page testimonials */
.view_specialities {
    background: none repeat scroll 0 0 #1c4b77;
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    margin: auto;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 80%;
    width: 35%;
    color: #fff;
    left: 30%;
    z-index: 9999;
}
.right_wrap p {
    width: 70%;
    text-align: justify;
    float: left;
}
.white-text {
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: 600;
}
.slider_text_middle {
    margin: 15px !important;
    text-align: justify;
    color: #00467f;
}


.footer_menu a {
    font-size: 14px;
    font-family: 'RobotoRegular';
    color: #ced7e0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}