/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse; padding-top: 5px; font-size: 9pt;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {color: #474747;font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;}


a{color: #009FE3; text-decoration: none;}
a:hover {color: #009FE3; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;}
a.button {display: inline-block;text-decoration: none;padding: 6px 12px 6px 12px;}
a.button:hover{}

h2, .title{font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {background:#00467f; background-image: url('../images/top-bg.png'); background-repeat: repeat-x; border-top: 0px solid #252525; border-bottom: 0px solid #009FE3;}
header .wrap-header{height: 101px;}

header #logo {/*position:absolute; top:30px; width: 100%; width: 500px;*/ width: 60px; padding-top: 2%; padding-left: 2%; }

div.header_0{
	height: 10px;
	background-color: #00467f;
}

nav {}
nav .wrap-nav{position:absolute; bottom:0px; right:0px; height: 37px;}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.menu  ul li:hover {background:#009FE3;}
.menu  ul li a {font-size: 14px; line-height:14px;color: #009FE3;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; font-weight: bold;}
.menu  ul li:hover a {color:#ffffff;}
.menu li.current{background:#009FE3;}
.menu li.current a {color:#ffffff;}

.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:#333333;}
.minimenu div{overflow: hidden;position: relative;font: 18px/37px 'PT Sans Narrow';color: #fff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

.social{position: absolute; right: 10px; top: 40px; }
.social ul{list-style: none;margin: 0;padding: 0;}
.social ul li{position: relative;float: left; color: #ffffff; padding: 5px;}
.social ul li a {/*color: #fff; font-size: 12px;*/}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{background: none repeat scroll 0 0 #00467f;}
.featured .wrap-featured{background:#00467f;}
.featured .wrap-featured .slider{padding: 0px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {}
#content .wrap-content{background-color:transparent; border:0px solid #CCC; border-top: 0px solid #009FE3; margin-top: 10px;}

.divider{background: url("../images/divider.png") repeat-x; height: 7px; width: 90%; margin: auto;}

.block01 {margin:10px;}
.block01 h2 { padding-top:30px; font-size: 30px; text-align: center; font-weight: normal;}
.block01 p { padding: 10px 30px 30px 30px; font-size:20px; text-align:center; line-height:30px;}

.block02 {margin:30px 0; padding: 0 10px;}
.block02 h2{font-size:20px; font-weight: normal;}
.block02 a{color: #474747;}
.block02 a:hover{color: #009FE3;}
.block02 span {font-size: 50px; float: left; margin: 0px 5px 0 0; line-height: 1;}

.block03 {margin: 30px 0; padding: 0 26px;}
.block03 .title{width: 90%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: center;}
.block03 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}
.block03 img{border:0px solid #CCCCCC; height: auto;}
.block03 h2{font-size:15px; line-height:30px; padding-top: 20px; padding-bottom: 20px; text-align: center; color: #5f8caf; text-transform: uppercase;}

.block04 {margin: 30px 0; padding: 0 10px;}
.block04 .title{width: 90%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: center;}
.block04 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}

.block05 {margin: 30px 0;}
.block05 .title{width: 90%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: center;}
.block05 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}
.block05 article{ clear: both; margin-bottom:30px; padding: 0 10px;}
.block05 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block05 article .info{font-style:italic; padding: 10px 0px;}
.block05 article img{ margin-bottom:10px; width: 100%; border: 5px solid #333;}
.block05 .box{margin-bottom:20px; padding: 0 10px;}
.block05 .heading{padding:5px 0px; border-bottom:2px solid #615E5F}
.block05 .heading h2{font-size:16px; font-weight:normal; display:inline; border-bottom: 2px solid #009FE3; padding-bottom: 8px;}
.block05 .content{ margin: 5px 0px ;}
.block05 .content .list{padding: 10px; margin-left: 10px;}
.block05 .content ul{ font-size:14px; list-style-type:circle;}
.block05 .content ul li{padding:5px; border-bottom: 1px solid #E2E2E2;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
/*footer {background-color :#00467f; background-image: url('../images/bottom-new-bg.png'); background-repeat: repeat-x; height: 180px; margin-top:30px;}*/
footer .wrap-footer{padding-top:30px; color:#ffffff;}

footer .box{}
footer .heading{ padding:5px 0; border-bottom:1px solid #615E5F; border-top:1px solid #615E5F; text-align: center;}
footer .heading h2{font-size:18px; font-weight:normal; display:inline;border-bottom: 1px solid #009FE3; border-top: 1px solid #009FE3; padding: 7px 0 8px 0;}
footer .content{padding:5px}
footer .content ul{ font-size:14px;}
footer .content ul li{padding:0px 0;}
footer .content .tag a{padding: 10px; background: #009FE3; margin: 0px 5px 5px 0px; float: left; color: #ffffff;}
footer .content .tag a:hover{color: #ffffff; background: #4cc7fc;}

.copyright{text-align:center; margin-top:20px; background: #252525; padding: 20px 0px;}
.copyright a{color:#ffffff; text-decoration:underline;}

/*------------gallery*/
.gallery {}
.gallery a {display: block;	margin: 0px 1px 10px 0px;position: absolute;
	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
/*.gallery a:nth-child(3n+2) {margin: 0 25px 25px 25px;}*/

.gallery a img {display: block;	-webkit-transition: all 0.5s;}

/*Hover effects*/
.gallery a img:hover {-webkit-filter: none; /*Returns to default state*/}

/*Default state for brightness has to be specified specifically*/
.gallery a img.brightness:hover {-webkit-filter: brightness(0);}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}


/*Pagination*/
#pagi{margin: 50px auto; padding: 20px 0px;list-style: none;width: 250px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 16px Arial, sans-serif;padding: 5px; background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #009EE2;}

/*Comment*/
.comment{font-weight:bold; margin:10px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}
.slider-bottom {
	background:#00467f; background-image: url('../images/middle-bg.png'); background-repeat: repeat-x; height: 8px;
}

.services-background {
	background:#00467f; background-image: url('../images/middle-services-bg.png'); background-repeat: repeat-x; 
	top: 150px; position: relative; height: 60px;
}

#bannerBg{
	background:none;
}
#containingDiv {
	width:960px;margin:0 auto; padding:0px 0 0 0;	
}
#bottomText {
	width:100%; font:18px 'Lato', sans-serif; color:#333333; border-top:1px solid #cccccc; padding:10px 0 0 0; margin-top:100px; text-align:center;
}
.col-1-4 .caption {
    background: none repeat scroll 0 0 #ccc !important;
    color: #2b1b17;
    font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
    font-weight: normal;
    height: 331px;
    left: 0;
    opacity: 0.5;
    padding: 0 0 10px;
    position: relative;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    width: 210px;
}


.jm-item-wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
}

.jm-item-image {
	position: relative;
	overflow: hidden;
	
}
.jm-item-image img {
	display: block;
	width:205px;
	cursor: pointer;
}
.jm-item-overlay {
	background: #849FDC;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
}
.jm-item-wrapper .jm-item-overlay {
	opacity: 0.3;
}
.jm-item-wrapper:hover .jm-item-overlay {
	position: relative;
	
}

.students_logo_img{
	padding-top: 10px !important;
	/*padding-left: 70px !important;*/
}
.trainers_image{
	background-position: 100%;
}

.testimonial{
	width:70%;
	margin:auto;
	min-height:200px;
	vertical-align:middle;
	padding:50px 0 0 0;
}

.image-caption {
	float: left;
	vertical-align: top;
	width: 10%;
 }

.image-caption img {
	width:100%;
	display:block;
}

.info {
    float: right;
    padding: 10px 30px 0 0;
    width: 82%;
    }
    .info p {
    color: #0887c1;
    font-size: 20px;
    padding: 5px 0;
    }

*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
	width: 75%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 82%;
}
.span_1_of_3 {
	width: 16%;
	text-align: center;
	
}

.span_1_of_3_full {
	width: 40%;
}
.span_1_of_3_full_evaluated{
	width: 100%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_1_of_3_full {
		width: 100%;
	}
	.form_span_1_of_1{
		width: 100%;
	}
	.form_span_1_of_2{
		width: 100%;
	}
}
.testimonials{
	padding-top: 50px;
	margin: 0px auto;
	width: 65%;
}

.find_more{
	margin: 0px auto;
	width: 20%;
	text-align : center;
	padding: 10px 0 25px 0;
}

.right_wrap{
	width:75%;
	min-height:280px;
	float:right;
	position:absolute;
	z-index:9999;
	right:125px;
	top:50px;
	left: 30px;
	color: #fff;
}
.right_wrap p {
	width: 70%;
	text-align: justify;
	float: left;
}
.college_text{
	width:100%;
	height:100%;
	background-color: #849fdc; 
	position:absolute;
	z-index:9998;
	opacity: 0.4;
}
.medicine_img{
	background: url("../images/ur.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	height: 50px;
	margin: 10px 0 0;
	width: 171px;
	z-index: 9999;
}
.view_specialities{ background: none repeat scroll 0 0 #1c4b77;
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    margin: auto;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 80%;
    width: 35%;
    color: #fff;
    left: 30%;
    z-index: 9999;}
.student_desc{
	background: none repeat scroll 0 0 #1c4b77;
	border: 1px solid #fff;
	border-radius: 5px;
	float: right;
	margin: auto;
	opacity: 0.8;
	padding: 10px;
	position: absolute;
	text-align: center;
	color: #fff;
	top: 0;
	height: 67%;
	z-index: 9999;
	overflow: hidden;
	text-align: justify;
	font-size: 13px;
	font-weight: 500;
}
.footer_menu{
	font-size: 14px;
	font-family: 'RobotoRegular';
	color: #ced7e0;
    }
.footer_menu a{
	font-size: 14px;
	font-family: 'RobotoRegular';
	color: #ced7e0;
    }

.footer_menu_1{
	padding-top: 5px;
	font-size: 16px;
	font-family: 'RobotoRegular';
	color: #ced7e0;
}

.footer_menu_1 a{
	font-size: 14px;
	font-family: 'RobotoRegular';
	color: #ced7e0;
    }

.slider_text_middle{
	margin: 15px !important;
	text-align: justify;
	color: #00467f;
}

.white-text{
	color: #FFFFFF;
	font-size: 15pt;
    font-weight: 600;
}
#college-icon{
	/*margin-left: -28px;*/
}
.student_registration{
	padding-top: 10pt;
	text-align: left !important;
	font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
	font-size: 10pt;
}
.student_desc a{
	color: #fff;
	font-weight: 600;
	font-size: 10pt;
	text-decoration: underline;
}
.form_section{
	width:92.5%;
	height:71%;
	background-color: #1c4b77; 
	position:absolute;
	z-index:9998;
	opacity: 0.8;
}

.form_text{
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	color: #fff;
}
.form_content h3{
	font-family: 'RobotoBold',Arial,Helvetica,sans-serif;
	color: #fff;
	font-size: 10pt;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 5px;
}
.form_content p{
	font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
	color: #fff;
	font-size: 9pt;
	line-height: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}
.form_content table tr td span{
	font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
	color: #fff;
	font-size: 9pt;
}
.form_content table tr td label{
	font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
	color: #fff;
	font-size: 9pt;

}
.form_content_input{
	background-color: #c2d2df;
	background-image: none;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 4px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 95%;
	border-radius: 5px;
	box-shadow: none;
}
.form_content{
	width:23%;
	margin-left: 10px;
	float: left;
}

a.white_link{
	color: #FFFFFF;
	text-decoration: underline;
}

.save_icon{
	background: url("../images/save.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 24px;
	position: relative;
	width: 33px;
	cursor: pointer;
	clear: left;
}
.close_icon{
	background: url("../images/close.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	width:19px;
	height: 24px;
	cursor: pointer;
}

.form_text_icons{
	width:92%;
	height:85%;
	position:absolute;
}
.form_title{
	float: left;
	width: 90%;
}
.form_title_icon
{
	background: url("../images/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 25px;
	left: 22%;
	position: absolute;
	top: 1%;
	width: 5%;
}
.form_botton_next_icon{
	background: url("../images/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 25px;
	left: 22%;
	margin-top: 1%;
	position: absolute;
	width: 5%;
}
.save_icon{
	background: url("../images/save.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 21px;
	position: relative;
	width: 33px;
	cursor: pointer;
	clear: left;
}

div.header_2{
    font-family: 'RobotoItalic',Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 10pt;
    font-weight: normal;
    text-align: justify;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
    position: relative;
    width: 910px;
    height: 80px;
}

div.header_2_block1{
    float: left;
    width: 450px;
}
 
div.header_2_block2{
    float: right;
    width: 300px;
    text-align: right;
    font-size: 14pt;
}

div.header_3{
    font-family: 'RobotoItalic',Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 10pt;
    font-weight: normal;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    width: 910px;
    height: 55px;
    border-top: 1px solid #326a99;
}

div.header3_block1{
    padding-left: 10px;
    float: left;
    text-align: right;
    font-size: 14pt;
}

div.header3_block{
    padding-left: 50px;
    float: left;
    text-align: right;
    font-size: 14pt;
}

.form-header-info{
	width: 100%;
	clear: both;
}

.login_button {
   display: inline-block;
   line-height: 1;
   padding: 7px 10px;
   text-decoration: none;
   font-family: 'RobotoRegular',Arial,Helvetica,sans-serif;
   font-size: 12pt;
   font-weight: bold;
   color: #00467f;
   background-color: #FFFFFF;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
}

.form_content table tr td textarea{
	background-color: #c2d2df;
	background-image: none;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 4px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 95%;
	border-radius: 5px;
	box-shadow: none;
}

.checkbox {
display: inline-block;
cursor: pointer;
font-size: 13px; margin-right:20px; line-height:18px;
}/*
input[type=checkbox] {
display:none;
}
.checkbox:before {
content: "";
display: inline-block;
width: 18px;
height: 18px;
vertical-align:middle;
background-color: #c2d2df;
color: #f3f3f3;
text-align: center;
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
border-radius: 3px;
}
input[type=checkbox]:checked + .checkbox:before {
content: "\2713";
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
font-size: 15px;
}*/
.nursing-option li{
	line-height: 21px;
}
.nursing-option li span{
	clear: left;
}

.form_content_input_small{
	background-color: #c2d2df;
	background-image: none;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 8%;
	border-radius: 5px;
	box-shadow: none;
	float: right;
}

.revieve_email > input {
    cursor: pointer;
    margin-left: 3px;
    margin-top: 2px;
    opacity: 0;
    width: 10px;
}
.how_it_works_image{
	width:180px; height:180px; margin: auto;
}

div#youtube_video{
	display: none;
	width: 100%;
	height: 220pt;
	top: 0px;
	position: absolute;
	z-index: 500;
	text-align: center;
	background-color: #00467f;
	opacity: 0.95
}

section.section_how_it_works{
	padding-top: 10px;
	background-image: url('../images/background_how_it_works.png'); background-repeat: repeat;

}
h1.how_title{
	color: #7b7b7b;
	font-size: 16px;
}

section#about-us{
	text-align: center;
	margin-top: 10px;
}

div.about-us{
	border: 1px solid #7fa2be;
	height: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.about-us-title{
	color: #00467f;
	font-size: 18pt;
}

.about-us-intro-title{
	color: #00467f;
	font-size: 14pt;
	padding-top: 20px;
	font-weight: 600;
}

.about-us-intro-text{
	color: #858585;
	font-size: 11pt;
	padding-top: 10px;
	text-align: justify;
}

.highlight-text{
	font-weight: 600;
	color: #00467f;
	text-decoration: underline;
}

.highlight-text1{
	font-weight: 600;
	color: #00467f
}

div.highlight-text1{
	font-weight: 600;
	color: #014075;
	padding-top: 20px;
}

.about-us-image{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.level-engagement{
	color: #858585;
	font-size: 12pt;
	padding-top: 10px;
	text-align: justify;
	padding-right: 5px;
	font-size: 11pt;
}
.col-level-engagement{
	margin: 10px !important;
}

.number-list{
	margin-left: 25px !important;
	margin-top: 15px !important;
	list-style-type: decimal;
	color:#014075;
}

.list-text{
	color: #858585;
	font-size: 11pt;
}

.number-list li {
	padding-bottom: 10px;
}

.mobile-role{
	display: none;
}

div.klimb-blue-logo{
	text-align: center;
	padding-top: 40px;
}

div.klimb-blue-logo-faq{
	text-align: center;
	padding-top: 75px;
}

.faq-title{
	color: #00467f;
	font-size: 20pt;
}

.faq-intro-title{
	color: #00467f ;
	font-size: 16pt;
	padding-top: 20px;
}

.faq-intro-text{
	color: #00467f ;
	font-size: 10pt;
	padding-top: 10px;
	text-align: justify;
}

.row-center{
	text-align: center;
}