<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
<!-- begin copy  -->
  <section>
    <div style="position: relative;">
      <div class="college_text">
      </div>

      <div class="right_wrap">
        <div class="medicine_img" style="display: none;"></div>
        <div class="ur_medicine">
          <p class="slider_text_middle white-text">If your College is interested in applying to be considered as a host site for <b><i>klimb</i></b> Nurse Certification Program and you want more information, please <a href="/rfp/" class="white_link">CLICK HERE</a> for the Request for Proposals. </p>
        </div>
      </div>
      <div class="view_specialities">
        <a href="/speciality-certification-program/" class="white_link">VIEW SPECIALITIES & CERTIFICATION PROGRAMS</a> 
      </div>
      <img class="trainers_image" src="${static.url('themes/uklimb/images/shutter.jpg')}"/>
    </div>
  </section>
  <section>
    <div class="section group">
      <div class="testimonials">
        <div data-timeout="200" data-animation="fadeIn" class="col span_1_of_3 revealOnScroll animated fadeIn">
          <img class="circle" src="${static.url('themes/uklimb/images/testimonial.jpg')}">
        </div>
        <div data-timeout="400" data-animation="fadeIn" class="col span_2_of_3 revealOnScroll animated fadeIn">
          <p class="slider_text_middle">"<b><i>klimb</i></b> is doing a wonderful thing in bringing advanced nurse specialty training through partnerships with top North American universities.  I can't wait for the opportunity to gain practical skills and competence through simulation labs.  Sim labs are new to Indian nursing education, and I'm sure the ability to do hands-on training and practice will make me a much better nurse with more confidence in my skills to care for patients."</p>

          <p class="slider_text_middle" style="text-align: right;">
            Uma S.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="find_more">
      <span>Find out more</span>
      <img class="circle" src="${static.url('themes/uklimb/images/find_more.jpg')}">
    </div>
  </section>
<!-- end copy -->


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
