## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
  <div class="wrap-footer zerogrid">
    <div class="row">
      <div class="col-1-3">
        <div class="wrap-col">
          <div class="box">
            
            <div class="footer_content">
              <p class="footer_menu"><a href="/about-us/">About klimb</a> | <a href="#">Jobs</a> | <a href="#">Press</a> | <a href="/faq/">FAQ</a> | <a href="#">Contact</a></p>
              <p class="footer_menu"><a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
              <p>
                  <br><a href="/"><img src="${static.url('themes/uklimb/images/klimb-kp.png')}"></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-3">
        <div class="wrap-col">
          <div class="box" style="text-align: center;">
            
            <div class="content" style="text-align: center;">
              <div class="tag">
                  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-3">
        <div class="wrap-col">
          <div class="box">
            
            <div class="content">
              <p>
                  <img src="${static.url('themes/uklimb/images/follow_icons.png')}" style="opacity: 0.7">
              </p>
              <p style="padding-top: 45px;">
                  <img src="${static.url('themes/uklimb/images/powered_edx.png')}">
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--<div class="copyright">
    <p>Karepartners Education</p>
  </div>-->
</footer>
</div>
